@model DVPRO.DATA.EF.Models.Order

@{
    ViewData["Title"] = "Edit Order" + Model.OrderId;
}

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Edit Order @Model.OrderId</h3>
                </div>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="OrderId" />
                    <div class="form-group">
                        <label asp-for="Ponumber" class="control-label"></label>
                        <input asp-for="Ponumber" class="form-control" />
                        <span asp-validation-for="Ponumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VendorId" class="control-label">Vendor</label>
                        <select asp-for="VendorId" class="form-control" asp-items="ViewBag.VendorId"></select>
                        <span asp-validation-for="VendorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderDate" class="control-label"></label>
                        <input type="text" asp-for="OrderDate" class="form-control" />
                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderTotal" class="control-label"></label>
                        <input asp-for="OrderTotal" class="form-control" />
                        <span asp-validation-for="OrderTotal" class="text-danger"></span>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 offset-md-3"><input type="submit" value="Create" class="btn btn-primary" /></div>
                        <div class="col-md-4"><a asp-action="Index" class="btn btn-secondary">Cancel</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
